@import "tailwindcss";

:root {
  --neo-yellow: #ffde00;
  --neo-black: #000000;
  --neo-white: #ffffff;
  --neo-bg: #f3f4f6;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--neo-bg);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.neo-border {
  border: 3px solid var(--neo-black);
}

.neo-border-thick {
  border: 4px solid var(--neo-black);
}

.neo-shadow {
  box-shadow: 4px 4px 0px 0px var(--neo-black);
}

.neo-shadow-lg {
  box-shadow: 8px 8px 0px 0px var(--neo-black);
}

.neo-button-active:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px var(--neo-black);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button:hover {
  border-color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
